@{
    ViewData["Title"] = "Strona Główna";
}

<section id="slider">
    <div class="swiper slider position-relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex"
                 style="background-image: url('@Url.Content("~/images/slider-image.jpg")'); background-size: cover; background-repeat: no-repeat; height: 90vh; background-position: center;">

                <div class="container m-auto ">
                    <div class="text-start col-md-10 offset-md-1">
                        <h2 class="display-1 fw-bold text-white">Perfumiarz – Twój partner w świadomej weryfikacji perfum</h2>
                        <p class="text-white">
                            Każdego dnia tysiące osób kupuje perfumy z drugiej ręki.<br> My dbamy o to żeby luksus był autentyczny.
                        </p>
                        <a asp-controller="Home" asp-action="About" class="btn btn-primary mt-3">Sprawdź kim jesteśmy</a>
                    </div>
                </div>

            </div>
            <div class="swiper-slide d-flex"
                 style="background-image: url('@Url.Content("~/images/slider-image1.jpg")'); background-size: cover; background-repeat: no-repeat; height: 90vh; background-position: center;">

                <div class="container m-auto ">
                    <div class="text-start col-md-10 offset-md-1">
                        <h2 class="display-1 fw-bold text-white">Perfumiarz – Twój partner w świadomej weryfikacji perfum</h2>
                        <p class="text-white">
                            Każdego dnia tysiące osób kupuje perfumy z drugiej ręki.<br> My dbamy o to żeby luksus był autentyczny.
                        </p>
                        <a asp-controller="Home" asp-action="About" class="btn btn-primary mt-3">Czytaj więcej</a>
                    </div>
                </div>

            </div>
            <div class="swiper-slide d-flex"
                 style="background-image: url('@Url.Content("~/images/slider-image2.jpg")'); background-size: cover; background-repeat: no-repeat; height: 90vh; background-position: center;">

                <div class="container m-auto ">
                    <div class="text-start col-md-10 offset-md-1">
                        <h2 class="display-1 fw-bold text-white">Duże marki, jeszcze więcej podróbek</h2>
                        <p class="text-white">
                            Mainstreamowe perfumy masowo pojawiają się na rynku wtórnym,<br> a badania pokazują, że niemal 67% ofert na popularnych marketplace’ach to produkty nieoryginalne
                        </p>
                        <a asp-controller="Home" asp-action="Blog" class="btn btn-primary mt-3">Czytaj więcej</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="swiper-pagination slider-pagination position-absolute pb-5"></div>
    </div>
</section>

<section id="info" class="padding-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-3 fw-bold text-primary">1999</h3>
                <h6>Zadowolonych klientów</h6>
            </div>
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-3 fw-bold text-primary">1721</h3>
                <h6>Wykonanych weryfikacji</h6>
            </div>
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-3 fw-bold text-primary">97</h3>
                <h6>Ilość zweryfikowanych perfum</h6>
            </div>
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-3 fw-bold text-primary">1650</h3>
                <h6>Ilość zweryfikowanych podróbek</h6>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="imageblock me-4 position-relative">
                    <img class="img-fluid" src="~/images/about.png" alt="img">
                    <a type="button" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/W_tIumKa8VY"
                       data-bs-target="#myModal" class="play-btn position-absolute top-50 start-50 translate-middle">
                        <svg class="play-icon text-primary" width="70" height="70">
                            <use xlink:href="#play"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <h6 class="text-primary">O nas</h6>
                <h3 class="display-5 fw-bold mb-3">Ty wysyłasz zdjęcia. My zajmujemy się resztą.</h3>
                <p>
                    Skorzystaj z naszej weryfikacji — prześlij zdjęcia perfum, a my wrócimy do Ciebie z jasną odpowiedzią.
                </p>
                <a class="btn btn-primary mt-4" asp-controller="Home" asp-action="About">Więcej o nas</a>
            </div>
        </div>
    </div>
</section>

<section id="services" class="padding-medium">
    <div class="container-fluid p-0">
        <h6 class="text-center text-primary">Szukasz wymarzonego zapachu?</h6>
        <h3 class="text-center display-5 fw-bold mb-3">Sprzedajemy perfumy z wiarygodnych źródeł, z pełną transparentnością pochodzenia.</h3>
        <div class="row g-0 mt-5">
            <div class="col-md-6 col-lg-3">
                <div class="service-post position-relative bg-primary">
                    <img src="~/images/service3.jpg" class="service-img img-fluid" alt="img">
                    <div class="position-absolute bottom-0 p-5">
                        <h5 class="text-white">Weryfikacja</h5>
                        <p class="text-white">Profesjonalna ocena autentyczności na podstawie zdjęć.</p>
                        <a asp-controller="Home" asp-action="Services">
                            <h6 class="text-white text-decoration-underline">Czytaj więcej</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-post position-relative bg-primary">
                    <img src="~/images/service4.jpg" class="service-img img-fluid" alt="img">
                    <div class="position-absolute bottom-0 p-5">
                        <h5 class="text-white">Baza wiedzy</h5>
                        <p class="text-white">Dostęp do bazy wiedzy o cechach charakterystycznych oryginałów.</p>
                        <a asp-controller="Home" asp-action="Services">
                            <h6 class="text-white text-decoration-underline">Czytaj więcej</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-post position-relative bg-primary">
                    <img src="~/images/service2.jpg" class="service-img img-fluid" alt="img">
                    <div class="position-absolute bottom-0 p-5">
                        <h5 class="text-white">Certyfikaty</h5>
                        <p class="text-white">Wydajemy certyfikaty autentyczności dla zweryfikowanych flakonów.</p>
                        <a asp-controller="Home" asp-action="Services">
                            <h6 class="text-white text-decoration-underline">Czytaj więcej</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-post position-relative bg-primary">
                    <img src="~/images/service1.jpg" class="service-img img-fluid" alt="img">
                    <div class="position-absolute bottom-0 p-5">
                        <h5 class="text-white">Doradztwo</h5>
                        <p class="text-white">Pomagamy w bezpiecznym zakupie perfum z rynku wtórnego.</p>
                        <a asp-controller="Home" asp-action="Services">
                            <h6 class="text-white text-decoration-underline">Czytaj więcej</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <h6 class="text-primary">Twoja świadomość jest naszym sukcesem</h6>
        <h3 class="display-5 fw-bold mb-3">Nasza misja</h3>
        <p>
            Czarnorynkowa produkcja perfum to realny problem, o którym mówi się zbyt rzadko.<br />
            Produkty nieweryfikowane, tworzone poza standardami IFRA, trafiają do obiegu i na skórę konsumentów — często bez wiedzy o ich składzie i pochodzeniu.<br />
            Naszym celem jest budowanie świadomości i dawanie narzędzi, które pozwalają podejmować bezpieczne decyzje.
        </p>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="position-relative">
                    <h2 style="color:#F9F4EC; -webkit-text-stroke: 1px #E6E1D9; font-size: 130px; ">01</h2>
                    <h6 class="position-absolute top-50 start-50 translate-end m-0">Wszystkie</h6>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="position-relative">
                    <h2 style="color:#F9F4EC; -webkit-text-stroke: 1px #E6E1D9; font-size: 130px; ">02</h2>
                    <h6 class="position-absolute top-50 start-50 translate-end m-0">Oryginały</h6>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="position-relative">
                    <h2 style="color:#F9F4EC; -webkit-text-stroke: 1px #E6E1D9; font-size: 130px; ">03</h2>
                    <h6 class="position-absolute top-50 start-50 translate-end m-0">Podróbki</h6>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="projects" class="padding-medium">
    <div class="container">
        <h6 class="text-center text-primary">Nasze Weryfikacje</h6>
        <h3 class="text-center display-5 fw-bold ">Ostatnio sprawdzone</h3>
        <div class="my-4">
            <p class="text-center">
                <button class="filter-button px-3 me-2 mb-3 active" data-filter="*">Wszystkie</button>
                <button class="filter-button px-3 me-2 mb-3" data-filter=".energy">Nisza</button>
                <button class="filter-button px-3 me-2 mb-3" data-filter=".wind">Mainstream</button>
                <button class="filter-button px-3 me-2 mb-3" data-filter=".renew">Vintage</button>
            </p>
        </div>

        <div class="isotope-container">
            <div class="row">
                <div class="col-md-4 item energy mb-4">
                    <a asp-controller="Home" asp-action="Projects"><img src="~/images/project1.jpg" alt="image" class="img-fluid"></a>
                    <h6 class="text-primary mt-3">Nisza</h6>
                    <h3><a asp-controller="Home" asp-action="Projects">Tom Ford - Tobacco Vanille</a></h3>
                </div>
                <div class="col-md-4 item wind mb-4">
                    <a asp-controller="Home" asp-action="Projects"><img src="~/images/project2.jpg" alt="image" class="img-fluid"></a>
                    <h6 class="text-primary mt-3">Mainstream</h6>
                    <h3><a asp-controller="Home" asp-action="Projects">Dior - Sauvage Elixir</a></h3>
                </div>
                <div class="col-md-4 item renew mb-4">
                    <a asp-controller="Home" asp-action="Projects"><img src="~/images/project3.jpg" alt="image" class="img-fluid"></a>
                    <h6 class="text-primary mt-3">Vintage</h6>
                    <h3><a asp-controller="Home" asp-action="Projects">Chanel No. 5 (1980)</a></h3>
                </div>
                </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-1 ">
                <div class="me-3">
                    <svg class="text-primary me-1" width="60px" height="60px">
                        <use xlink:href="#quote"></use>
                    </svg>
                </div>
            </div>
            <div class="col-md-9">
                <div class="swiper testimonial-swiper mt-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review">
                                <div class="review-content">
                                    <p class="fs-3 fst-italic fw-light lh-base">
                                        Dzięki Perfumiarzowi uniknąłem zakupu drogiej podróbki. Profesjonalne podejście i szybka odpowiedź.
                                    </p>
                                    <h6 class="fw-bold">Marek K. <span class="fw-normal">| Klient</span></h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review">
                                <div class="review-content">
                                    <p class="fs-3 fst-italic fw-light lh-base">
                                        Niesamowita wiedza na temat perfum vintage. Polecam każdemu kolekcjonerowi.
                                    </p>
                                    <h6 class="fw-bold">Anna Z. <span class="fw-normal">| Kolekcjonerka</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination testimonial-pagination text-start position-relative mt-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blogs" class="padding-medium">
    <div class="container">
        <div class="mb-3 d-flex flex-wrap align-items-center justify-content-between">
            <div>
                <h6 class="text-primary">Blog & Artykuły</h6>
                <h3 class="display-5 fw-bold mb-3">Czytaj nasze najnowsze wpisy</h3>
            </div>
            <a asp-controller="Home" asp-action="Blog" class="btn btn-primary">Zobacz Blog</a>
        </div>
        <div class="row mt-5 mt-lg-0">
            <div class="col-md-4 mb-4">
                <a asp-controller="Home" asp-action="Blog"><img src="~/images/blog1.jpg" alt="image" class="img-fluid"></a>
                <h6 class="text-primary mt-3">16 Lut, 2025</h6>
                <h3><a asp-controller="Home" asp-action="Blog">Jak rozpoznać podróbkę Baccarat Rouge 540?</a></h3>
            </div>
            <div class="col-md-4 mb-4">
                <a asp-controller="Home" asp-action="Blog"><img src="~/images/blog2.jpg" alt="image" class="img-fluid"></a>
                <h6 class="text-primary mt-3">10 Lut, 2025</h6>
                <h3><a asp-controller="Home" asp-action="Blog">Kody batch - jak je czytać?</a></h3>
            </div>
            <div class="col-md-4 mb-4">
                <a asp-controller="Home" asp-action="Blog"><img src="~/images/blog3.jpg" alt="image" class="img-fluid"></a>
                <h6 class="text-primary mt-3">05 Lut, 2025</h6>
                <h3><a asp-controller="Home" asp-action="Blog">Przechowywanie perfum - poradnik</a></h3>
            </div>
        </div>
    </div>
</section>

<section id="contact-info" class="padding-small bg-gray">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div>
                <h3 class="display-5 fw-bold mb-3">Skontaktuj się z nami</h3>
                <p>
                    Masz wątpliwości co do swojego flakonu? Napisz do nas na kontakt@perfumiarz.pl lub <br> zadzwoń +48 123 456 789.
                </p>
            </div>
            <a asp-controller="Home" asp-action="Contact" class="btn btn-primary">Kontakt</a>
        </div>
    </div>
</section>